@model dominio.Disco

@{
	ViewData["Title"] = "Eliminar disco";
}

<h1>Eliminar disco</h1>

<h3>Esta seguro que desea eliminar el siguiente disco?</h3>
<div>
	<h4>Disco</h4>
	<hr />
	<div class="row">
		<div class="col-8">
			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Titulo)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Titulo)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.FechaLanzamiento)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.FechaLanzamiento)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.CantidadCanciones)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.CantidadCanciones)
				</dd>

				<dd class="col-sm-10">
					<img src="@Model.UrlTapa" style="max-height:250px" class="img-fluid" />
				</dd>
			</dl>
		</div>
	</div>
	@* <form asp-action="Delete" onsubmit="return confirmarEliminacion()"> *@
	<form asp-action="Delete" id="formDelete">
		<input type="submit" value="Eliminar" class="btn btn-danger" /> |
		<a asp-action="Index">Atras</a>
	</form>
</div>
@section Scripts {
@* 	<script>
		function confirmarEliminacion()
		{
			return confirm("Esta seguro que desea eliminar este disco??")
		}
	</script> *@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		document.getElementById("formDelete").addEventListener("submit",function (e){
			e.preventDefault();

			Swal.fire({
				title: "¿Eliminar disco?",
				text: "Esta acción no se puede deshacer.",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#d33",
				cancelButtonColor: "#3085d6",
				confirmButtonText: "Sí, eliminar",
				cancelButtonText: "Cancelar"
			}).then((result) => {
				if (result.isConfirmed) {
					this.submit(); // envía el form si confirma
				}
			});
		});
	</script>
}