@model IEnumerable<dominio.Disco>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado de discos</h1>

<p>
    <a asp-action="Create">Crear nuevo disco</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCanciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estilo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEdicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlTapa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCanciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estilo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEdicion.Descripcion)
            </td>
            <td>
                <img src="@item.UrlTapa" height="50" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Editar</a>
                <a asp-action="Details" class="btn btn-outline-success">Detalles</a>
                <a asp-action="Delete" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
